.main {
  background: var(--bg2-clr);
  margin: 3em auto 2em;
  padding: 0.1em 1em 2em;
  width: 90%;
  max-width: 1200px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.imageGalleryGrid {
  display: grid;
  width: 100%;
}

.mainImage {
  width: 100%;
}

.thumbnails {
  display: flex;
}

.thumbnail {
  display: none;
  width: 100%;
  height: 100%;
}

.text {
  flex: 0 0 40%;
  background: var(--bg3-clr);
  padding: 0 2em;
}

.icons {
  font-size: 1.1em;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.mainBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enquiryBtn {
  composes: button from "../../formElements/Button.module.css";
  background: var(--green-clr);
  margin: 2em auto;
  color: var(--bg-clr);
  font-weight: bold;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.horizontalLine {
  border-top: 1px solid var(--bg4-clr);
  margin: 2em 0;
}

.addressBox {
  background: rgba(202, 216, 230, 0.1);
  margin-bottom: 1em;
  padding: 1em 2em;
  width: 100%;
  border-radius: var(--border-radius);
}

.price {
  border: 2px solid var(--bg4-clr);
  border-radius: var(--border-radius);
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 15px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
  .main {
    padding: 0.1em 3em 2em;
  }

  .flex {
    flex-direction: row;
  }

  .mainBottom {
    flex-direction: row;
    gap: 2em;
  }

  .addressBox {
    width: 40%;
  }

  .center {
    text-align: center;
  }
}

@media screen and (min-width: 998px) {
  .thumbnail {
    display: flex;
  }
}
