.flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
}

.img {
  height: 300px;
  margin: 0 auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }

  .leftColumn {
    flex: 0 0 55%;
  }

  .rightColumn {
    flex: 0 0 35%;
    margin-right: 1em;
  }
  .img {
    margin: 0;
  }
}
