.button {
  background: var(--bg2-clr);
  color: var(--text-clr);
}

.button,
.activeBtn {
  padding: 0.6em;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border: 2px solid transparent;
  margin: 1em;
  font-size: 0.7rem;
}

.button:hover {
  background: var(--bg4-clr);
  color: var(--text-clr);
}

.activeBtn {
  background: var(--bg4-clr);
  color: var(--text-clr);
}
