.form {
  display: flex;
  flex-direction: column;
  margin: 1em auto 4em;
  padding: 1em 2.3em 2em;
  width: 100%;
  background: var(--bg3-clr);
  border-radius: 5px;
  max-width: 400px;
  color: var(--text-clr);
  outline: 1px solid var(--bg2-clr);
  outline-offset: -15px;
  position: relative;
}

label {
  margin-top: 0.2em;
  padding: 1em 0 0;
  color: var(--fg2-clr);
}

input,
textarea {
  font-size: 1rem;
  width: 100%;
  margin: 0.5em 0 0.5em;
  padding: 5px;
  border: 1px solid var(--fg4-clr);
  background: var(--bg4-clr);
  color: var(--text-clr);
}

textarea {
  resize: none;
}

input[type="radio"],
[type="checkbox"] {
  width: auto;
  display: inline;
  margin: 0.5em 0.5em 0 1.5em;
}

fieldset {
  margin-top: 1em;
  color: var(--fg2-clr);
  border: 2px solid var(--fg4-clr);
}

.button {
  composes: button from "./Button.module.css";
  width: 50%;
  margin-left: 0;
}

.loginBtn {
  composes: loginBtn from "./Button.module.css";
}

/* CONFIRMATION MESSAGES */

.formError {
  background: #fbb;
  color: darkred;
  border: 1px solid darkred;
  padding: 0.5rem 1rem;
}

.success {
  background: #a6e8a6;
  color: darkgreen;
  border: 1px solid darkgreen;
  padding: 0.5em 2em;
  font-size: 1em;
  width: 100%;
  position: absolute;
  left: 0;
}
