.flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: auto;
  max-width: auto;
  padding: 0 2em;
  margin-bottom: 2em;
}

.card {
  background: var(--bg4-clr);
  line-height: 1.5em;
  padding: 0.5em 1em;
}

.message {
  border: 2px solid var(--bg3-clr);
  background: var(--bg3-clr);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.button {
  composes: button from "../../formElements/Button.module.css";
  background: var(--bg4-clr);
}
.button svg {
  font-size: 1.5em;
}

.messageTitle {
  cursor: pointer;
  text-transform: uppercase;
}
