.flex {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.tabList {
  font-size: smaller;
  margin-top: 0;
  padding: 0;
  border-radius: none;
}

.notification {
  background: orange;
  color: var(--black-clr);
  border: 1px solid orangered;
  padding: 0.5rem 1rem;
  max-width: 500px;
  margin: 0 auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }

  .leftColumn {
    flex: 0 0 35%;
  }

  .rightColumn {
    flex: 0 0 55%;
    margin-right: 1em;
    background: var(--bg2-clr);
  }
}
