.search {
  display: block;
}

/* ACCOMMODATION GRID DISPLAY */

.center {
  text-align: center;
  padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2em;
  margin: 2em auto;
  max-width: 100%;
}

.gridContainer a {
  text-decoration: none;
}

.card {
  border: 1px solid var(--bg-clr);
  border-radius: var(--border-radius);
  text-align: center;
  color: var(--text-clr);
  max-height: 200px;
}

.cardImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.overlay {
  background: rgb(25, 38, 53, 0.4);
  color: var(--txt-clr);
  padding: 1px;
  margin-top: 7em;
}

.icons {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.button {
  composes: button from "../formElements/buttons/Button.module.css";
}

.activeBtn {
  composes: activeBtn from "../formElements/buttons/Button.module.css";
}

/* MEDIA QUERIES 
==================== */

@media (min-width: 500px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .bg {
    display: flex;
    height: 120px;
  }
  .img {
    display: block;
  }
  .searchContainer {
    padding: 2em 3em 0 0;
  }
}

@media (min-width: 1150px) {
  .gridContainer {
    grid-template-columns: repeat(5, 1fr);
  }
  .search {
    display: none;
  }
}
/* check grid layout styling with kevin */
