.searchLink {
  cursor: pointer;
  padding: 0.3em 2em 0 0;
}

.searchLink:hover {
  background: var(--bg4-clr);
}

.searchResults {
  margin: 0 auto;
  background: var(--bg3-clr);
  position: absolute;
  width: 300px;
  z-index: 1000;
}

.searchResults a {
  color: var(--text-clr);
}

.searchResults a:hover {
  background: none;
}

.input {
  background: none;
  color: var(--text-clr);
  width: 240px;
  border: none;
  border-bottom: 1px solid var(--fg3-clr);
  margin: 0 0 1em 1em;
}

::placeholder {
  color: var(--fg3-clr);
  font-style: italic;
  letter-spacing: 1px;
  font-size: small;
}

.form {
  composes: form from "../formElements/Form.module.css";
}

/* MEDIA QUERIES */

@media (min-width: 1150px) {
  .searchResult,
  .input {
    width: 300px;
  }
}
